<!-- <div class="container-fluid"> -->
<div style="background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
    ), url(https://images.pexels.com/photos/2249432/pexels-photo-2249432.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)"
    class="jumbotron bg-cover container-fluid text-white">
    <div class="container py-3 text-center">
        <h1 class="text-uppercase fw-bold">Genidys</h1>
        <p class="mb-0">Genidys est un outil destiné à aider les lecteurs débutants ou en difficulté à décoder les mots
            en utilisant les principes de la lecture en couleur.</p>
        <p class="fst-italic py-2">Genidys, made by
            <a href="http://adleysalabi.com/" target="_blank" class="text-white">
                <u class="fst-light">La Miff</u>
            </a>
        </p>
        <!-- <a href="#" role="button" class="btn btn-primary px-5">See All Features</a> -->
    </div>
</div>
<!-- </div> -->